
/*
for fixed navbar see BS docs:
http://getbootstrap.com/components/#navbar-fixed-top
*/
body { 
    padding-top: 70px; 
    position: relative;
}

/*for image displayed as panel body media*/
.panel-image{
    width:64px;
}

.blue{
    color: #2196F3!important;
}
.blueBG{
    background-color: #2196F3!important;
}

.blue-grey{
    color: #607D8B!important;
}
.blue-greyBG{
    background-color: #607D8B!important;
}


.light-green{
    color: #8BC34A!important;
}
.light-greenBG{
    background-color: #8BC34A!important;
}

.navy{
    color:#1F2C39!important;
}
.navyBG{
    background-color:#1F2C39!important;
}

.orange{
    color:#FF9800!important;
}
.orangeBG{
    background-color:#FF9800!important;
}


.purple{
    color: #6A1B9A!important;
}

.purpleBG{
    background-color: #6A1B9A!important;
}


.raspberry{
    color:#E91E63!important;
}
.raspberryBG{
    background-color:#E91E63!important;
}


.red{
    color: #F44336!important;
}
.redBG{
    background-color: #F44336!important;
}


.teal{
    color: #009688!important;
}

.tealBG{
    background-color: #009688!important;
}


.white{
    color: #ffffff!important;
}
.whiteBG{
    background-color: #ffffff!important;
}





