
/*
for fixed navbar see BS docs:
http://getbootstrap.com/components/#navbar-fixed-top
*/
body { 
    padding-top: 70px; 
    position: relative;
}

/*for image displayed as panel body media*/
.panel-image{
    width:64px;
}

.black{
    color: #000000!important;
}
.blackBG{
    background-color: #000000!important;
}


.blue{
    color: #2196F3!important;
}
.blueBG{
    background-color: #2196F3!important;
}


.blue-grey{
    color: #607D8B!important;
}
.blue-greyBG{
    background-color: #607D8B!important;
}


.dark-green{
    color: #388E3C!important;
}
.dark-greenBG{
    background-color: #388E3C!important;
}


.dcu{
    color: #002566!important;
}
.dcuBG{
    background-color: #002566!important;
}


.green{
    color: #4CAF50!important;
}
.greenBG{
    background-color: #4CAF50!important;
}


.light-green{
    color: #8BC34A!important;
}
.light-greenBG{
    background-color: #8BC34A!important;
}


.navy{
    color:#1F2C39!important;
}
.navyBG{
    background-color:#1F2C39!important;
}


.ochre{
    color: #F6AE2B!important;
}
.ochreBG{
    background-color: #F6AE2B!important;
}


.orange{
    color:#FF9800!important;
}
.orangeBG{
    background-color:#FF9800!important;
}


.purple{
    color: #9C27B0!important;
}

.purpleBG{
    background-color: #9C27B0!important;
}


.raspberry{
    color:#E91E63!important;
}
.raspberryBG{
    background-color:#E91E63!important;
}


.red{
    color: #F44336!important;
}
.redBG{
    background-color: #F44336!important;
}


.teal{
    color: #009688!important;
}
.tealBG{
    background-color: #009688!important;
}


.white{
    color: #ffffff!important;
}
.whiteBG{
    background-color: #ffffff!important;
}

.yellow{
    color: #FFEB3B!important;
}
.yellowBG{
    background-color: #FFEB3B!important;
}





